<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= it.transport %> <%= it.videoType %> Video</title>
</head>
<body>
<video id="video" width="750" controls></video>
<script type="text/javascript">
    window.addEventListener('load', async () => {
        const videoFile = await fetch('https://localhost:8080/video/raw');
        const reader = await videoFile.body.getReader();
        let videoBuffer = [];
        while(true) {
            const { done, value } = await reader.read();
            if(done) {
                break;
            }
            videoBuffer.push(value);
        }

        const mimeCodec = 'video/mp4; codecs="avc1.4D401F, mp4a.40.2"';
        const mediaSource = new MediaSource();
        const video = document.querySelector('#video');
        video.src = URL.createObjectURL(mediaSource);

        const streamVideo = (sourceBuffer) => {
            const ws = new WebSocket('wss://localhost:8080/stream/call');
            ws.onerror = e => console.log('websocket error:', e);
            ws.binaryType = 'arraybuffer';
            const q = [];
            let l = 0;
            let localFinished = false;
            let remoteFinished = false;
            ws.onopen = () => {
                for(const chunk of videoBuffer) {
                    ws.send(chunk);
                }
                ws.send(new Uint8Array());
                localFinished = true;
                console.log('local finished');
                if(localFinished && remoteFinished) {
                    ws.close();
                }
            }
            ws.onclose = async () => {
                console.log('ws closed', 'received:', l);
                if(!q.length) {
                    return;
                }
                sourceBuffer.onupdateend = () => {
                    if(q.length) {
                        sourceBuffer.appendBuffer(q.shift());
                    }
                }
                if(!sourceBuffer.updating) {
                    sourceBuffer.appendBuffer(q.shift());
                }
            }
            ws.onmessage = e => {
                const data = new Uint8Array(e.data);
                l += data.length;
                q.push(data);
                if(!sourceBuffer.updating) {
                    sourceBuffer.appendBuffer(q.shift());
                }
                if(data.length === 0) {
                    console.log("received remote close signal");
                    remoteFinished = true;
                }
                if(localFinished && remoteFinished) {
                    console.log('both ends finished, closing ws');
                    ws.close();
                }
            }
        }

        let sourceBuffer;
        mediaSource.onsourceopen = () => sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);

        let firstPlay = true;
        video.onplay = () => {
            if(firstPlay) {
                streamVideo(sourceBuffer);
                firstPlay = false;
            }
        }
    })
</script>
</body>
</html>